@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-link {
    animation: fadeIn 1s ease-in-out;
  }
  .animated-linkContent {
    animation: fadeIn 3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .text-lg {
    font-size: 1.25rem;
  }
  .text-white {
    color: white;
  }
  .font-medium {
    font-weight: 500;
  }
  .hover\:cursor-pointer:hover {
    cursor: pointer;
  }
  
  .blur-background {
    filter: blur(4px);
  }

  .blur-background {
    filter: blur(4px);
  }
  
  .logoInvert {
    filter: invert(20%) sepia(89%) saturate(2273%) hue-rotate(217deg) brightness(104%) contrast(96%);
  }

  #Navbar {
    transition: background-color 0.5s ease; /* Add transitions for other properties if needed */
  }
  
  .scrolled {
    background-color: #fff; /* Change to the desired background color */
  }
  
  